header{
    padding-bottom: 20px;
}

footer{
    padding-top: 20px;
    background-color: #f8f8f8;
    text-align: center;
}

.introduce{
    text-align: center;
}

img{
    padding: 5px;
}


.personal{
    color: deeppink;
}

a{
    padding: 10px;
}